.button {
  height: 48px;
  background: var(--color-accent);
  border-radius: 5px;
  align-items: center;
  border: none;
  color: white;
  box-shadow: var(--shadow-button);
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: var(--transition);
}

.button:hover {
  cursor: pointer;
  box-shadow: var(--shadow-button-hover);
}

.button:active {
  background: var(--color-accent7);
}

.button:disabled {
  background: var(--color-accent7);
  box-shadow: var(--shadow-button-hover);
}

.dot_flashing {
  position: relative;
  width: 0.42rem;
  height: 0.42rem;
  border-radius: 0.35rem;
  background-color: #fff;
  color: #fff;
  animation: dotFlashing 0.5s infinite linear alternate;
  animation-delay: 0.25s;
}

.dot_flashing::before,
.dot_flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot_flashing::before {
  left: -0.71rem;
  width: 0.42rem;
  height: 0.42rem;
  border-radius: 0.35rem;
  background-color: #fff;
  color: #fff;
  animation: dotFlashing 0.5s infinite alternate;
  animation-delay: 0s;
}

.dot_flashing::after {
  left: 0.71rem;
  width: 0.42rem;
  height: 0.42rem;
  border-radius: 0.35rem;
  background-color: #fff;
  color: #fff;
  animation: dotFlashing 0.5s infinite alternate;
  animation-delay: 0.5s;
}

@keyframes dotFlashing {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  50%,
  100% {
    background-color: #fff;
  }
}
